body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px dashed;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
  border: 2px dashed;
}

.jumbotron,
.immagini,
.about,
.contact,
.footer-up,
.footer-down {
  text-align: center;
  border: 2px dashed;
  margin: 20px auto;
  padding: 10px;
}

.jumbotron {
  background-color: #2ecc71;
  color: #fff;
  padding: 60px 0;
}

.immagini {
  background-color: #e74c3c;
  color: #fff;
  padding: 40px 0;
}

.about {
  background-color: #f39c12;
  color: #fff;
  padding: 40px 0;
}

.contact {
  background-color: #9b59b6;
  color: #fff;
  padding: 40px 0;
}

.footer-up {
  background-color: #34495e;
  color: #fff;
  padding: 20px 0;
}

.footer-down {
  background-color: #e7753c;
  color: aliceblue;
  padding: 20px 0;
}

.ms_text_white {
  color: #fff;
}

/* Aggiunte classi microblocco per stili specifici */
.microblocco-jumbotron,
.microblocco-immagini,
.microblocco-about,
.microblocco-contact,
.microblocco-footer-up,
.microblocco-footer-down,
.microblocco-footer-content {
  border: 2px dashed;
  margin: 20px auto;
  padding: 10px;
}

/* Nuove classi per la microstruttura nei footer */
.microblocco-footer-content {
  border: 2px dashed;
  margin: 20px auto;
  padding: 10px;
}

/* Responsive per le colonne */
@media (max-width: 767px) {
  .jumbotron,
  .immagini,
  .about,
  .contact,
  .footer-up,
  .footer-down {
    padding: 20px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron,
  .immagini,
  .about,
  .contact,
  .footer-up,
  .footer-down {
    padding: 40px 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron,
  .immagini,
  .about,
  .contact,
  .footer-up,
  .footer-down {
    padding: 50px 0;
  }
}

/* Aggiusta il layout delle colonne nei footer per dimensioni medie e grandi */
@media (min-width: 768px) {
  .microblocco-footer-up,
  .microblocco-footer-down {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .microblocco-footer-up,
  .microblocco-footer-down {
    flex-direction: row;
  }
}

/* Aggiusta il layout della microarea nel footer per dimensioni medie e grandi */
@media (min-width: 768px) {
  .microblocco-footer-content {
    margin-top: 10px;
  }
}
